{% extends "base.html" %}
{% load i18n %}
{% load jstemplate %}
{% block mainContainer %}
<div class="page-header" style="margin-bottom:0;">
    <div style="float:left;">
      <a class="btn btn-success btn-large" id="shuffle-button">{% trans "Get another three" %}</a>
    </div>
    <h1>
        {% trans "Candidates" %}
    </h1>
</div>
<div class="row">
  <div class="span4" id="candid-cell-1"></div>
  <div class="span4" id="candid-cell-2"></div>
  <div class="span4" id="candid-cell-3"></div>
</div>
<div class="row footnote">
  <p>
    {% blocktrans %}
      The Candidates biographies were given by the candidates themselvs and
      we can not guarntee their accuracy. The avatars are pulled from 
    {% endblocktrans %}
    <a href="http://gravatar.com">{% trans "here" %}</a>
  </p>
</div>
{% endblock %}
{% block extrascript %}
  <script src="{{ STATIC_URL }}libs/mustache-0.3.0.js"></script>
  <script src="{{ STATIC_URL }}libs/django.mustache.js"></script>
  {% mustachejs "candidate" %}
  <script>
    // document.candidates = {{ candidates_json|safe }};
    function Candid(data) {
      var that =  {
        current: 0,
        cell_template: Mustache.template("candidate"),
        get_next: function () {
          var ret = that.data[this.current++];
          if (that.current >= that.data.length)
            that.current = 0;
          return ret;
        },
        render_next_cell: function () {
          var context = that.get_next();
          return that.cell_template.render(context);
        },
        render_trio: function () {
          for (i=1;i<4;i++)
            $('#candid-cell-'+i).html(that.render_next_cell());
        }
      }
      that.data = data.sort(function() {return 0.5 - Math.random()});
      return (that);
    }

    $(document).ready(function () {
      $.getJSON('.', function (data) {
        document.candidates = Candid(data);
        document.candidates.render_trio();
        $('#shuffle-button').click(document.candidates.render_trio);
      })
    });
  </script>

{% endblock %}
